/* Style */

*,
html,
body {
    margin: 0;
    padding: 0;
}

.body {
    background-color: rgb(241, 241, 241);
}

.TOTAL {
    width: 750px;
    background-color: rgb(255, 255, 255);
    border: 5px solid black
}

.TOTAL H1 {
    font-family: sans-serif;
    margin-top: 45px;
    margin-bottom: 25px;
}


.TOTAL .Hero_Image {
    background-image: url(Aset/Angkut.jpg);
    background-size: cover;
    width: 750px;
    height: 450px;
    background-position-y: center;
}
.Header {
    width: 750px;
    height: 35px;
    background-color: rgb(83, 83, 83);
    margin-top: 35px;
    border-top: 5px solid black;
    border-bottom: 5px solid black;
}

.Header ul li {
    display: flex;
    margin: 4px;

}
.Header ul li a {
    text-decoration: none;
    font-family: sans-serif;
    border: 2px solid rgb(0, 0, 0);
    background-color: rgb(155, 155, 155);
    padding: 2px;
    color: black;
    font-weight: 600;
}

.Header ul li a:hover {
    padding: 3px;
}

.Hero_Image {
    background-image: url(Aset/Angkut.jpg);
    background-size: cover;
    width: 750px;
    height: 350px;
    margin-top: 75px;
    border-top: 5px solid black;
    border-bottom: 5px solid black;
}

.Hero_Image:hover {
    filter: grayscale(100%);
    background-size: 50%;
}

.Desk {
    margin-top: 50px;
    font-family: sans-serif;
    padding: 25px;
    margin-bottom: 50px;
}

.Footer2 {
    width: 750px;
    height: 35px;
    background-color: rgb(83, 83, 83);
    margin-top: 35px;
    border-top: 5px solid black;
    border-bottom: 5px solid black;
    margin-bottom: 35px;
}